vtpl.rcs.db.writeConcern=SAFE
vtpl.rcs.db.password=root@central1234
vtpl.rcs.db.socketTimeout=15000
vtpl.rcs.db.dbType=mongodb_standalone
vtpl.rcs.db.schema.auth=admin
vtpl.rcs.db.user=root
vtpl.rcs.db.pool.initialSize=100
vtpl.rcs.db.schema=rcsdb
vtpl.rcs.db.readPreference=NEAREST
vtpl.rcs.db.port=27017
vtpl.rcs.db.pool.maxActive=1000
vtpl.rcs.db.pool.maxWait=10000
vtpl.rcs.db.connectTimeout=1000
vtpl.rcs.agentId=
#vtpl.rcs.db.domain=vsaas-mongodb.vsaas-dev.svc.cluster.local
vtpl.rcs.db.domain=vsaas-mongodb.vsaas-dev.svc.cluster.local
vtpl.central.pro.db.schema=centralpro
vtpl.rcs.pva.db.schema=pvaDB
vtpl.rcs.hms.db.schema=systemHealthDb
vtpl.rcs.ivms.db.schema=ivms_30
vtpl.rcs.das.db.schema=dasDB
vtpl.insights.pro.db.schema=insights